<% provide(:title, "Sign In") %>
<h1>Sign In</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag sessions_path do %>
      <%= label_tag :s_id, 'Student ID' %>
      <%= text_field_tag :s_id, params[:s_id] %>
      
      <%= label_tag :birthdate %>
      <%= text_field_tag :birthdate %>
      
      <%= submit_tag "Sign In", class: "btn btn-large btn-primary" %>
    <% end %>    
  </div>
</div>
